<p>The app may stay in a "Queued" state for 10-15 minutes in the event that there are no compute resources already available to run your session. Please be patient as additional compute resources are allocated to your session.</p>

<button class="btn btn-dark mt-3" type="button" data-toggle="collapse" data-target="#importing_modules" aria-expanded="false" aria-controls="collapseExample">
  A note on Slurm commmands
</button>

<dl class="row collapse" id="importing_modules">
<p>Slurm commands are not available within the terminal in this application. That's because this application runs inside of a container that does not have access to the slurm commands outside the container. If you need to run a Slurm job that uses R, submit it from the built-in terminal as a batch job or interactive Slurm session.</p>
</dl>
