<p>The app may stay in a "Queued" state for 10-15 minutes in the event that there are no compute resources already available to run your session. Please be patient as additional compute resources are allocated to your session.</p>
